<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do app | About</title>

    <style>
      body {
        background-color: whitesmoke;
        max-width: 600px;
        margin: 20px auto;
        padding: 0 20px;
        font-family: "Domine";
      }
      h1 {
        color: black;
        text-align: center;
        margin-bottom: -5px;
      }
      h2 {
        font: italic;
        font-size: 0.3cm;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-weight: 0.2cm;
        text-align: center;
      }
      nav {
        text-align: left;
        padding-top: 5px;
      }
      nav a {
        margin-right: 15px;
      }
    </style>
  </head>
  <body>
    <h1>TO DO APP</h1>
    <h2>If you fail to plan, you have planned to fail!</h2>

    <nav>
      <div class="menu">
        <a href="/"> HOME</a>
        <a href="/about-us"> ABOUT</a>
        <a href="/contact-us"> CONTACT</a>
      </div>
    </nav>
  </body>
</html>
